div {
  .selectLabel, .selectInput {
    margin: 12px;
    font-family: Ubuntu, sans-serif;
    font-size: .9rem;
  }
  .selectInput {
    text-align: center;
    border: transparent;
    background-color: transparent;
    outline: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  div {
    .selectLabel, .selectInput {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 900px) {
  div {
    .selectLabel, .selectInput {
      font-size: 1.1rem;
    }
  }
}
